In [2]:
# Creating Pandas Series (Part2)

In [4]:
# from Numpy Array

In [6]:
import pandas as pd

In [10]:
import numpy as np # numpy는 "수치 계산 + 행렬(벡터) 처리"를 빠르고 효율적으로 하기 위한 라이브러리

In [14]:
sales = np.array([10, 25, 6, 32, 2 ])
sales

array([10, 25,  6, 32,  2])

In [16]:
pd.Series(sales) # Numpy 배열로부텉 판다스 시리즈 만들 수 있음

0    10
1    25
2     6
3    32
4     2
dtype: int64

In [18]:
# from List

In [20]:
sales = [10,25,6,36,2] # 저번시간에 Series에 리스트 넣어줘도 RangeIndex 되면서 Series로 변환되는 것 확인함, index 직접 설정해도되고

In [22]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [24]:
# -> 같은 결과 출력되는 것을 확인할 수 있음

In [27]:
# from Dictionary

In [29]:
dic = {"Mon":10, "Tue": 25, "Wed":6, "Thu": 36, "Fri" : 2}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [31]:
sales = pd.Series(dic)
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [33]:
sales = pd.Series(dic, index=["Fri", "Thu", "Sat", "Sun", "Mon"]) # 딕셔너리에 맞는 키에 대한 값으로 가져오고 없는것은 결측값으로
sales

Fri     2.0
Thu    36.0
Sat     NaN
Sun     NaN
Mon    10.0
dtype: float64

In [39]:
sales = pd.Series(dic, index=[1,2,3,4,5]) # 키에 해당하지 않는 것을 인덱스로 설정하면 당연히 모두 결측값으로 표시하게됨 
sales

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

In [ ]:
# Indexing and Slicing