In [4]:
# Creating Pandas Series (Part 1)

In [6]:
import pandas as pd

In [10]:
# from DataFrame

In [12]:
summer = pd.read_csv("summer.csv")

In [14]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [16]:
summer["Athlete"] # "Athlete" 열만 선택한다면 Athlete 에 대한 시리즈가 생성됨

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [18]:
summer.Athlete # 하나의 열을 시리즈로 변환하는 방식은 위의 방법과 총 두가지의 방법이 있다. 둘다 같은 pandas 시리즈 반환

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [20]:
summer.iloc[0] # 뿐만 아니라 한 행만 출력해도 pandas series로 변환됨

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [22]:
# Importing from CSV

In [34]:
pd.read_csv("summer.csv", usecols=["Athlete"]).squeeze("columns")

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [36]:
# Creating from scratch with pd.Series() 완전히 처음부터 시리즈를 만들고자 할 때가 있을 것임

In [38]:
pd.Series([10, 25, 6, 36, 2]) # 기본적으로 인덱스는 0부터 시작하는 RangeIndex 가 설정됨.

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [40]:
# 만약에 자전거가 월요일에는 10대 화요일에는 25대 이런식으로 팔렸다고 가정한다면

In [44]:
pd.Series([10, 25, 6, 36, 2], index=["Mon", "Tue", "Wed", "Thu", "Fri"]) # 실행해보면 시리즈가 내가 결정해준 인덱스에 맞춰진 시리즈가 나옴

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [46]:
pd.Series([10, 25, 6, 36, 2], index=["Mon", "Tue", "Wed", "Thu", "Fri"], name="Sales") # 이름을 붙여주는 것

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
Name: Sales, dtype: int64