In [2]:
# Indexing and Slicing

In [4]:
import pandas as pd

In [8]:
titanic = pd.read_csv("titanic.csv")

In [10]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [14]:
# 인덱스를 슬라이싱 하는데 있어서 보통 세가지 방법이 사용됨. 첫 번째는 대괄호 그리고 iloc, loc 연산자임

In [16]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [18]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [20]:
age = titanic.age

In [24]:
type(age) # 시리즈로 변환됨

pandas.core.series.Series

In [26]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [28]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [32]:
age.index # 인덱스를 확인해보면 0부터 891 까지의 rangeindex임을 확인할 수 있음.

RangeIndex(start=0, stop=891, step=1)

In [34]:
age[0]

22.0

In [36]:
age[2]

26.0

In [38]:
# 대괄호를 사용하면 파이썬이 내부적으로 라벨에 기반한 인덱싱을하는지 순서에 기반한 인덱싱을 하는지 알기 어려움.

In [40]:
age[-1] # 순서에 기반한 인덱싱이라면 -1로 인덱싱을 했을 때 제일 마지막 값에 대한 값이 나와야함 하지만 안됨

KeyError: -1

In [42]:
# 따라서 사실상 인덱싱은 순서에 기반한 인덱싱이 아니라 인덱스 라벨에 기반함을 알 수 있음

In [44]:
# 그래서 순서에 기반한 인덱싱을 하기위해서는 iloc 연산자를 사용해야함

In [46]:
age.iloc[-1]

32.0

In [50]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [52]:
# rangeIndex 로 인덱싱 되어 있을 때 순서에 기반한 인덱싱인지 라벨에 기반한 인덱싱인지 헷갈릴 수 있기 때문에 
# 순서에 기반한 인덱싱이면 iloc[], 라벨에 기반한 인덱싱이면 loc[]연산자를 사용하여 명시적으로 나타내주는 것이 좋다

In [54]:
age.loc[:3] #라벨 기반 인덱싱을 할 때는 시작하는 인덱스와 마지막 인덱스를 포함함

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [58]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [60]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [62]:
summer.tail()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [64]:
event = summer.Event

In [66]:
event

Athlete
HAJOS, Alfred                            100M Freestyle
HERSCHMANN, Otto                         100M Freestyle
DRIVAS, Dimitrios            100M Freestyle For Sailors
MALOKINIS, Ioannis           100M Freestyle For Sailors
CHASAPIS, Spiridon           100M Freestyle For Sailors
                                        ...
JANIKOWSKI, Damian                             Wg 84 KG
REZAEI, Ghasem Gholamreza                      Wg 96 KG
TOTROV, Rustam                                 Wg 96 KG
ALEKSANYAN, Artur                              Wg 96 KG
LIDBERG, Jimmy                                 Wg 96 KG
Name: Event, Length: 31165, dtype: object

In [68]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [76]:
event.index # 이제는 event의 인덱스가 rangeIndex가 아닌 것을 확인할 수 있음

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [78]:
event[0]

/var/folders/1b/d24k1cl162s2drg4n6yln3500000gn/T/ipykernel_65003/2895929443.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  event[0]

'100M Freestyle'

In [82]:
event[-1]

/var/folders/1b/d24k1cl162s2drg4n6yln3500000gn/T/ipykernel_65003/1555793735.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  event[-1]

'Wg 96 KG'

In [86]:
# RangeIndex가 아니므로 파이썬에서 -1의 위치를 확인하고 -1로 마지막의 값을 가져올 수 있음 그래도 명시적으로 나타내 주는 것이 좋음

In [90]:
event["DRIVAS, Dimitrios"]

'100M Freestyle For Sailors'

In [92]:
event["PHELPS, Michael"] # 고유 값이 아닌 라벨에 대해서도 인덱싱이 가능함

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [94]:
event.loc["PHELPS, Michael"] # 물론 loc 연산자도 사용이 가능하고 이게 더 명확함

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [96]:
event.loc[["PHELPS, Michael", "LEWIS, Carl"]]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

In [98]:
event[["PHELPS, Michael", "DUCK, Donald"]]

KeyError: "['DUCK, Donald'] not in index"